<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>

  <meta name="description" content="{{ page.title }}">
  <meta name="author" content="{{ page.author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- favicon.png y apple-touch-icon.png en el directorio raiz -->

  <link rel="stylesheet" href="/assets/css/vendor/normalize.css?v=8.0.1">
  <link rel="stylesheet" href="/assets/css/styles.css?v=0.0">
  <link rel="icon" href="/favicon.png">

</head>

<body>

  {% include navigation.html %}
  {{ content }}
  <!-- <script src=""></script> -->

</body>

</html>
